<% provide(:title , 'Inicio') %>

<% if logged_in_admin? || logged_in_user? %>
	<%= form_tag('/search/', method: :get) do %>
		<div class="input-group mb-3">
			<%= text_field_tag :query, nil, :class => 'form-control rounded-0' %>
			<div class="input-group-append">
				<%= submit_tag 'Buscar', :class => 'btn btn-primary rounded-0' %>
			</div>
		</div>
	<% end %>
<% end %>

<div class="row justify-content-center">
	<div class="col-6">
		<a href="/residences/<%=@residencia.id%>" class="cardlink">
			<div class="card box-shadow rounded-0 p-0 m-0">
				<img class="card-img-top rounded-0" src="<%=@residencia.img_link%>" alt="Card image cap">
				<div class="card-body">
					<p class="card-text"><strong><%=@residencia.nombre%></strong></p>
					<p class="card-text"><%=@residencia.desc%></p>
				</div>
			</div>
		</a>
	</div>
	<% if @hotsale != nil %>
		<div class="col-6">
			<a href="/blocks/<%=@hotsale.id%>" class="cardlink">
				<div class="card box-shadow rounded-0 p-0 m-0">
					<div class="card-img-overlay">
						<h3>
							<span class="badge badge-success rounded-0">HOTSALE DISPONIBLE!</span>
							<span class="badge badge-success rounded-0">$<%= @hotsale.precio%></span>
							<span class="badge badge-info rounded-0"><%= @hotsale.fecha%></span>
						</h3>
					</div>
					<img class="card-img-top rounded-0" src="<%=@hotsale.residence.img_link%>" alt="Card image cap">
					<div class="card-body">
						<p class="card-text"><strong><%=@hotsale.residence.nombre%></strong></p>
						<p class="card-text"><%=@hotsale.residence.desc%></p>
					</div>
				</div>
			</a>
		</div>
	<% end %>
</div>
