<% provide(:title, 'Login') %>

<div class='row text-center'>

	<div class="col-md-3"></div> <!-- div vacia para centrar la siguiente -->

	<div class="col-md-6 card rounded-0">

		<h3 class="card-header">Login</h3>

			<%= form_for(:session, url: login_path ) do |f| %>


			<%= f.label :email %>
			<%= f.text_field :email, class: 'form-control rounded-0' %>

			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control rounded-0' %>

			<%= f.submit "Ingresar", class:"btn btn-primary rounded-0 mb-3" %>

		<% end %>

    	<p> Usuario nuevo? <%= link_to "Registrate!", signup_path %></p> 

	</div>

</div>
