

<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Registrarse') %>

<div class="row">

    <div class="col-md-3">

    </div>


  <div class="container">


    <div class="alert alert-primary" role="alert">
      <h4 class="alert-heading">Únete a nuestra comunidad!</h4>
      <p>Formando parte de Home Switch Home, tendras los beneficios de participar en subastas/hotsales, buscar residencias y la posibilidad de ser un usuario Premium con beneficios extras.</p>
      <hr>
    </div>

    <%= form_for(@user) do |f| %>
    	<%= render 'shared/error_messages', user: @user %>


        <div class="form-group form-row">

          <div class="col">
		      <%= f.text_field :name, class: 'form-control', required:true, placeholder: 'Nombre' %>
          </div>
          <div class="col">
		      <%= f.text_field :apellido, class: 'form-control', required:true, placeholder: 'Apellido' %>
          </div>

        </div>

        <div class="form-group">
            <br>
            <%= f.email_field :email, class: 'form-control', required:true, placeholder: 'Email' %>
        </div>

        <div class="form-group">
            <br>
            <%= f.text_field :dni, class: 'form-control', required:true, minlength:7, maxlength:8, placeholder: 'DNI' %>
        </div>

        <div class="form-group">
            <%= f.label :birth_date, 'Fecha de nacimiento' %>
            <%= f.date_field :birth_date, class: 'form-control', required:true, max:(Date.today << 12*18).to_date %>
        </div>


        <div class="form-group form-row">
          <div class="col">
            <br>
	           <%= f.text_field :numTarjeta, class: 'form-control', required:true, maxlength: 16, minlength: 16, placeholder: 'Número de Tarjeta' %>
          </div>

          <div class="col">
            <br>
            <%= f.password_field :codTarjeta, class: 'form-control', required:true, maxlength: 3, minlength:3, placeholder: 'Código de Tarjeta' %>
          </div>

        </div>

		   <div class="form-group form-row">
         <div class="col">
           <br>
           <%= f.password_field :password, class: 'form-control', required:true, minlength: 6, placeholder: 'Contraseña' %>
         </div>

         <div class="col">
           <br>
           <%= f.password_field :password_confirmation, class: 'form-control', required:true, minlength: 6, placeholder: 'Repetir Contraceña' %>
         </div>

       </div>


		<%= f.hidden_field :esPremium, :value => false %>

		<%= f.submit "Registrarse!", class: "btn btn-primary" %>


      <% end %>
  </div>
</div>
