<% if logged_in_admin? || (logged_in_user? && current_user.id == @user.id) %>

	<div class='row'>
		<aside class="col-md-12">
			<section class='admin_info'>
				<h1>
					<%= @user.name %>
					<% if (logged_in_user? && current_user.id == @user.id) %>
						<% if !@user.esPremium && !@user.user_configs.esPremium %>
							<a href="/users/id/<%=@user.id%>/s" class="btn btn-primary rounded-0 ml-3">Solicitar Premium</a>
						<% else %>
							<% if !@user.user_configs.esPremium %>
								<a href="" class="btn btn-secondary rounded-0 ml-3">Esperando autorizacion</a>
							<% end %>
						<% end %>
					<% end %>
					<% if logged_in_admin? %>
						<% if @user.esPremium && !@user.user_configs.esPremium %>
							<a href="/users/id/<%=@user.id%>/p" class="btn btn-primary rounded-0 ml-3">Autorizar Premium</a>
						<% end %>
					<% end %>
				</h1>
				<br>
				<table class="table">
				<tr>
					<td>Fecha de nacimiento</td>
					<td><%= @user.birth_date %></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><%= @user.email %></td>
				</tr>
				<tr>
					<td>Numero de tarjeta</td>
					<% if logged_in_admin? %>
						<td><%= @user.numTarjeta %></td>
					<% else %>
						<td>**** **** **** <%= @user.numTarjeta % 10000 %></td>
					<% end %>
				</tr>
				<tr>
					<td>Premium</td>
					<td>Solicitado: <%= @user.esPremium ? '✓' : '✗' %> Autorizado: <%= @user.user_configs.esPremium ? '✓' : '✗' %></td>
				</tr>
				</table>
			</section>
		</aside>
	</div>

<% end %>