<% if logged_in? %>
  <% if((@block.fecha << 6) <=> Date.today) <= 0 %>
  <div class="input-group">

      <%= form_for(@block) do |b| %>

        <%= b.text_field :precio, class: 'form-control' %>
        <%= b.hidden_field :ensubasta, :value => true %>
        <%= b.submit "Crear subasta", class:"btn btn-primary" %>

        <% end %>
  <div class="input-group-append">
  </div>
  </div>
<%else%>
<div class="alert alert-warning" role="alert">
  La subasta estara disponible a partir del dia <%=@block.fecha%>
</div>
<%end%>
  <div class="listaDeUsuarios">
  <% @block.entries.each do |user|%>
  <div class="list-group list-group-item list-group-item-action flex-column align-items-start">
    <small>user.email</small>
  </div>
  <%end%>
  </div>
<%end%>
<% parent_layout "residencia" %>
