<div class="container">

<%= form_with(model: residence, local: true) do |form| %>

  <% if residence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(residence.errors.count, "error") %> prohibited this residence from being saved:</h2>

      <ul>
      <% residence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
    	<%= form.label :nombre %>
    	<%= form.text_field :nombre, class: 'form-control', placeholder: 'Las rosas', required:true %>
	</div>

	<div class="form-group form-row">

		<div class="col">
    		<%= form.label :pais %>
			<%= form.select :pais, ['Argentina'], {}, class: 'custom-select' %>
		</div>

		<div class="col">
    		<%= form.label :provincia %>
    		<%= form.select :provincia, @provincias, {}, class: 'custom-select' %>
		</div>

		<div class="col">
    		<%= form.label :partido %>
    		<%= form.select :partido, ['Argentina'], {}, class: 'custom-select' %>
		</div>

	</div>

	<div class="form-group form-row">

		<div class="col">
			<%= form.label :ciudad %>
			<%= form.select :ciudad, ['Argentina'], {}, class: 'custom-select' %>
		</div>

		<div class="col">
	      <%= form.label 'Direccion' %>
	      <%= form.text_field :direccion, class: 'form-control', placeholder: 'Calle 111', required:true %>
	    </div>

	</div>

  <div class="form-group">
    <%= form.label 'URL Imagen' %>
	<%= form.url_field :img_link, class: 'form-control', placeholder: 'http://host.com/imagen.png', required:true %>
  </div>

  <div class="form-group">
    <%= form.label 'Descripcion' %>
    <%= form.text_area :desc, class: 'form-control', placeholder: 'La residencia cuenta con ...', required:true %>
  </div>

  <div class="actions">
    <%= form.submit 'Crear residencia', class: 'btn btn-primary' %>
  </div>

<% end %>
</div>
