<% if @residence != nil %>
	<% @var = @residence %>
<% else %>
	<% @var = @block.residence %>
<% end %>

<div class="card rounded-0 border-0">
	<div class="card-body m-0">
		<div class="row">
			<div class="col-6 p-0 m-0">
				<div class="card border-0 rounded-0">
					<div class="card-header m-0 border-0 rounded-0">
						<h3 class="m-0 p-0">
							<div class="row">
								<a href="<%= @block != nil ? residence_path(@var) : '/' %>" class="btn btn-outline-primary ml-2 rounded-0">Atras</a>
								<span class="align-middle mt-auto mb-auto ml-2"><%= @var.nombre %></span>
								<% if logged_in_admin? %>
									<%= link_to 'Modificar', edit_residence_path(@var), class: 'btn btn-warning ml-md-auto mr-2 rounded-0 m-0', style:'height: 100% !important;' %>
									<%= link_to 'Eliminar', @var, method: :delete, class: 'btn btn-danger mr-2 rounded-0', data: { confirm: 'Estas seguro?' } %>
								<% end %>
							</div>
						</h3>
					</div>
					<img class="card-img-top rounded-0" style="width: 100% !important;" src="<%= @var.img_link %>">
				</div>
			</div>
			<ul class="list-group list-group-flush col-6">
				<li class="list-group-item">
					<h5><span class="badge badge-info mr-3"><%= notice %></span></h5>
					<p> <%= @var.desc %> </p>
					<p class="font-weight-bold text-capitalize m-0">
						<%= @var.direccion %><span class="text-muted">, <%= @var.ciudad %>, <%= @var.partido %>, <%= @var.provincia %></span>
					</p>
				</li>
				<li class="list-group-item">
					<%= yield %>
				</li>
			</ul>
		</div>
	</div>
</div>
